<ion-header>
  <ion-navbar>
    <ion-title>
      Crypto Checker
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding class="container">
  <div class="heading">1 {{currentCurrency}}</div>
  <ion-item *ngFor="let item of rates" (click)="onCurrencyChange(item.currency)" style="background-color: transparent">
    <div class="listText">{{item.currency}}&nbsp;{{item.rate}}</div>
  </ion-item>
</ion-content>