 .container {
    background-color: ghostwhite;
}

.heading {
    font-size:  40px;
    font-weight: bolder;
    color: black;
    letter-spacing: .2em;
    text-align: center;
    padding: 20px
  }

  .listText {
    font-size: 28px;
    color: black;
    letter-spacing: .2em
  }